# All of Us Dataset Practice

In [1]:
import pandas as pd

### Patient profile

In [2]:
profile = pd.read_csv('D:/F2023/AOU/df_A.csv')
profile

,person_id,gender,date_of_birth,race,ethnicity,sex_at_birth
0,1198242.0,"Not man only, not woman only, prefer not to an...",1960-09-03 00:00:00 UTC,I prefer not to answer,PMI: Prefer Not To Answer,No matching concept
1,2081835.0,"Not man only, not woman only, prefer not to an...",1985-05-06 00:00:00 UTC,PMI: Skip,PMI: Skip,No matching concept
2,1282552.0,"Not man only, not woman only, prefer not to an...",1950-01-13 00:00:00 UTC,PMI: Skip,PMI: Skip,No matching concept
3,1699733.0,"Not man only, not woman only, prefer not to an...",1942-03-28 00:00:00 UTC,PMI: Skip,PMI: Skip,No matching concept
4,1112415.0,"Not man only, not woman only, prefer not to an...",1940-11-07 00:00:00 UTC,PMI: Skip,PMI: Skip,No matching concept
...,...,...,...,...,...,...
410356,3452399.0,Female,1946-02-20 00:00:00 UTC,White,Not Hispanic or Latino,Female
410357,2155804.0,Female,1954-11-15 00:00:00 UTC,White,Not Hispanic or Latino,Female
410358,2094884.0,Female,1960-01-20 00:00:00 UTC,White,Not Hispanic or Latino,Female
410359,5943794.0,Female,1984-03-05 00:00:00 UTC,White,Not Hispanic or Latino,Female
410360,2249480.0,Female,1940-05-02 00:00:00 UTC,White,Not Hispanic or Latino,Female

In [3]:
profile.gender.value_counts()

gender
Female                                                            245601
Male                                                              152142
Not man only, not woman only, prefer not to answer, or skipped     12521
No matching concept                                                   97
Name: count, dtype: int64

In [4]:
profile['genderBin'] = profile['gender'].apply(lambda x: 1 if x =='Female' else 0)
profile['genderBin'].value_counts()

genderBin
1    245601
0    164760
Name: count, dtype: int64

In [5]:
profile.race.value_counts()

race
White                        226615
Black or African American     78321
None Indicated                64614
Asian                         14162
PMI: Skip                      9054
More than one population       7720
None of these                  4351
Another single population      2987
I prefer not to answer         2537
Name: count, dtype: int64

In [6]:
profile['raceBin'] = profile.race.apply(lambda x: 1 if x == 'White' else 0)

In [7]:
profile.raceBin.value_counts()

raceBin
1    226615
0    183746
Name: count, dtype: int64

In [8]:
profile.ethnicity.value_counts()

ethnicity
Not Hispanic or Latino                               320377
Hispanic or Latino                                    73945
PMI: Skip                                              9054
What Race Ethnicity: Race Ethnicity None Of These      4351
PMI: Prefer Not To Answer                              2537
No matching concept                                      97
Name: count, dtype: int64

In [9]:
profile['ethnicBin'] = profile.ethnicity.apply(lambda x: 1 if x=='Not Hispanic or Latino' else 0)
profile['ethnicBin'].value_counts()

ethnicBin
1    320377
0     89984
Name: count, dtype: int64

In [10]:
profile.sex_at_birth.value_counts()

sex_at_birth
Female                                                    248130
Male                                                      153582
Not male, not female, prefer not to answer, or skipped      4366
No matching concept                                         4283
Name: count, dtype: int64

In [11]:
profile['sex_at_birthBin'] = profile.sex_at_birth.apply(lambda x: 1 if x == 'Female' else 0)
profile.sex_at_birthBin.value_counts()

sex_at_birthBin
1    248130
0    162231
Name: count, dtype: int64

In [16]:
# Rewview overall binary columns and non binary columns
profile = profile[['person_id', 'date_of_birth', 'genderBin', 'raceBin', 'ethnicBin', 'sex_at_birthBin']]#.to_csv('D:/F2023/AOU/aou_processed_data/.profile.csv', index=False)

In [17]:
profile

,person_id,date_of_birth,genderBin,raceBin,ethnicBin,sex_at_birthBin
0,1198242.0,1960-09-03 00:00:00 UTC,0,0,0,0
1,2081835.0,1985-05-06 00:00:00 UTC,0,0,0,0
2,1282552.0,1950-01-13 00:00:00 UTC,0,0,0,0
3,1699733.0,1942-03-28 00:00:00 UTC,0,0,0,0
4,1112415.0,1940-11-07 00:00:00 UTC,0,0,0,0
...,...,...,...,...,...,...
410356,3452399.0,1946-02-20 00:00:00 UTC,1,1,1,1
410357,2155804.0,1954-11-15 00:00:00 UTC,1,1,1,1
410358,2094884.0,1960-01-20 00:00:00 UTC,1,1,1,1
410359,5943794.0,1984-03-05 00:00:00 UTC,1,1,1,1
410360,2249480.0,1940-05-02 00:00:00 UTC,1,1,1,1

### Patient with Some Types of Liver Cancer

In [18]:
hasLiverCancer = pd.read_csv('D:F2023/AOU/df_B.csv')

In [19]:
print('Number of Conditions')
hasLiverCancer.standard_concept_name.value_counts()

Number of Conditions

standard_concept_name
Secondary malignant neoplasm of liver                               33712
Liver cell carcinoma                                                16810
Primary malignant neoplasm of liver                                  8181
Intrahepatic bile duct carcinoma                                     7526
Secondary malignant neoplasm of liver and intrahepatic bile duct     3429
Malignant neoplasm of liver                                          2113
Primary malignant neoplasm of intrahepatic bile duct                 2023
Malignant neoplasm of intrahepatic gall duct                           73
Metastasis to liver from adenocarcinoma                                45
Malignant neoplasm of liver and intrahepatic bile ducts                23
Sarcoma of liver                                                        6
Adenocarcinoma of liver                                                 6
Hepatoblastoma                                                          4
Combined hepatocellular carcinoma and cholangiocarcinoma                1
Name: count, dtype: int64

In [20]:
def get_earliest_date_lcancer(dataframe: pd.DataFrame= None):
    '''
    params: 
    accepts dataframe and get earliest date based on person id.
    The person with more than 2 conditions, will get the only earliest date 
    of the condition. We are not interested in what is the name of the condition.

    returns: dataframe consists of person id and earliest date
    '''
    output = {'person_id':[], 'csdLC':[]}
    dataframe['csd'] = dataframe.condition_start_datetime.apply(lambda x: pd.to_datetime(x, utc=True))
    ids = dataframe.person_id.unique()
    for id in ids:
        df = dataframe[dataframe.person_id == id]
        output['person_id'].append(id)
        output['csdLC'].append(df.csd.min())
    return output

In [21]:
hasLC = pd.DataFrame(get_earliest_date_lcancer(dataframe=hasLiverCancer))

In [22]:
hasLC.columns = ['pid', 'csdLC']
hasLC['value'] = 1
hasLC

          pid                     csdLC  value
0     3167820 2018-08-15 21:14:26+00:00      1
1     9513338 2017-10-20 15:26:00+00:00      1
2     1800706 2021-04-15 00:00:00+00:00      1
3     6243358 2019-05-03 06:00:00+00:00      1
4     1162056 2020-03-24 00:00:00+00:00      1
...       ...                       ...    ...
2166  2822836 2012-04-17 05:00:00+00:00      1
2167  1251459 2010-08-23 05:00:00+00:00      1
2168  1229379 2018-07-05 00:00:00+00:00      1
2169  2566986 2012-06-11 00:00:00+00:00      1
2170  1866790 2011-09-14 13:30:00+00:00      1

[2171 rows x 3 columns]

In [124]:
#hasLC.to_csv('D:/F2023/AOU/aou_processed_data/has_livercancer.csv', index=False)

### Disease Data

In [23]:
df = pd.read_csv('D:/F2023/AOU/df_C.csv')

In [24]:
df.columns = ['pid', 'scn', 'scc', 'csd']
df

,pid,scn,scc,csd
0,1371482,Disorder of cardiovascular system,49601007,2022-03-06 22:55:00 UTC
1,2709328,Disorder of cardiovascular system,49601007,2011-10-29 00:00:00 UTC
2,1005644,Disorder of cardiovascular system,49601007,2019-04-22 04:00:00 UTC
3,2322347,Disorder of cardiovascular system,49601007,2018-05-27 00:00:00 UTC
4,2020591,Disorder of cardiovascular system,49601007,2019-08-24 09:21:47 UTC
...,...,...,...,...
216967,1698359,Disorder of integument,128598002,2015-01-25 00:00:00 UTC
216968,1770186,Disorder of integument,128598002,2014-03-12 00:00:00 UTC
216969,1582582,Disorder of integument,128598002,2016-06-18 00:00:00 UTC
216970,1039151,Disorder of integument,128598002,2020-04-10 05:59:59 UTC
216971,2892671,Disorder of integument,128598002,2012-10-13 18:05:30.893 UTC

In [25]:
def simpler_concept(x: str=None)-> str:
    val = ''
    if x == 'Disorder of musculoskeletal system':
        val = 'musculoskeletal'
    elif x == 'Disorder of digestive system':
        val = 'digestive'
    elif x == 'Disorder of breast':
        val = 'breast'
    elif x == 'Disorder of hematopoietic structure':
        val = 'hematopoietic'
    elif x == 'Disorder of endocrine system':
        val = 'endocrine'
    elif x == 'Disorder of cardiovascular system': 
        val = 'cardiovascular'
    elif x == 'Disorder of respiratory system':
        val = 'respiratory'
    elif x == 'Disorder of integument':
        val = 'integument'
    elif x == 'Disorder of nervous system':
        val = 'nervous'
    elif x == 'Disorder of the genitourinary system':
        val = 'genitourinary'
    elif x == 'Disorder of mediastinum':
        val = 'mediastinum'
    elif x == 'Disorder of immune structure':
        val = 'immune'
    elif x == 'Disorder of mucous membrane':
        val = 'mucous'
    else: 
        val = 'disease not in'
        
    return val

In [26]:
df.scn.value_counts()

scn
Disorder of musculoskeletal system      43479
Disorder of digestive system            43408
Disorder of breast                      38018
Disorder of hematopoietic structure     21334
Disorder of endocrine system            20605
Disorder of cardiovascular system       16109
Disorder of respiratory system          15910
Disorder of integument                   6991
Disorder of nervous system               6246
Disorder of the genitourinary system     3019
Disorder of mediastinum                  1793
Disorder of immune structure               57
Disorder of mucous membrane                 3
Name: count, dtype: int64

In [27]:
df.scn.apply(simpler_concept).value_counts()

scn
musculoskeletal    43479
digestive          43408
breast             38018
hematopoietic      21334
endocrine          20605
cardiovascular     16109
respiratory        15910
integument          6991
nervous             6246
genitourinary       3019
mediastinum         1793
immune                57
mucous                 3
Name: count, dtype: int64

In [28]:
# apply function to data for simpler concept name
df['scn'] = df.scn.apply(simpler_concept)
df

            pid             scn        scc                          csd
0       1371482  cardiovascular   49601007      2022-03-06 22:55:00 UTC
1       2709328  cardiovascular   49601007      2011-10-29 00:00:00 UTC
2       1005644  cardiovascular   49601007      2019-04-22 04:00:00 UTC
3       2322347  cardiovascular   49601007      2018-05-27 00:00:00 UTC
4       2020591  cardiovascular   49601007      2019-08-24 09:21:47 UTC
...         ...             ...        ...                          ...
216967  1698359      integument  128598002      2015-01-25 00:00:00 UTC
216968  1770186      integument  128598002      2014-03-12 00:00:00 UTC
216969  1582582      integument  128598002      2016-06-18 00:00:00 UTC
216970  1039151      integument  128598002      2020-04-10 05:59:59 UTC
216971  2892671      integument  128598002  2012-10-13 18:05:30.893 UTC

[216972 rows x 4 columns]

In [32]:
df2 = pd.get_dummies(df[['pid', 'scn']], columns=['scn'], prefix='', prefix_sep='')
df3 = df2.groupby('pid').max().reset_index(drop=False)
df3

,pid,breast,cardiovascular,digestive,endocrine,genitourinary,hematopoietic,immune,integument,mediastinum,mucous,musculoskeletal,nervous,respiratory
0,1000042,False,False,True,False,False,False,False,False,False,False,False,False,False
1,1000045,True,False,False,False,False,False,False,False,False,False,False,False,False
2,1000061,False,False,True,False,False,False,False,False,False,False,False,False,False
3,1000066,False,False,False,False,False,True,False,False,False,False,False,False,False
4,1000091,True,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50977,9998619,False,False,False,False,False,False,False,False,False,False,False,False,True
50978,9999318,False,False,False,True,False,False,False,False,False,False,False,False,False
50979,9999351,False,False,False,False,False,False,False,False,False,False,True,False,False
50980,9999476,False,False,False,False,False,False,False,False,False,False,False,False,True
50981,9999653,False,True,False,False,False,False,False,False,False,False,False,False,False

In [35]:
df3.iloc[:,1:] = df3.iloc[:,1:].applymap(int)

C:\Users\sosor\AppData\Local\Temp\ipykernel_8532\972286186.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df3.iloc[:,1:] = df3.iloc[:,1:].applymap(int)

In [39]:
df3['n_conditions'] = df3.iloc[:,1:].sum(axis=1)

In [42]:
# saved in following location
#df3.to_csv('D:/F2023/AOU/aou_processed_data/disease_wider.csv', index=False)

In [43]:
df['csd'] = df.csd.apply(lambda x: pd.to_datetime(x))
df

,pid,scn,scc,csd,n_conditins
0,1371482,cardiovascular,49601007,2022-03-06 22:55:00+00:00,1.0
1,2709328,cardiovascular,49601007,2011-10-29 00:00:00+00:00,1.0
2,1005644,cardiovascular,49601007,2019-04-22 04:00:00+00:00,1.0
3,2322347,cardiovascular,49601007,2018-05-27 00:00:00+00:00,1.0
4,2020591,cardiovascular,49601007,2019-08-24 09:21:47+00:00,1.0
...,...,...,...,...,...
216967,1698359,integument,128598002,2015-01-25 00:00:00+00:00,NaN
216968,1770186,integument,128598002,2014-03-12 00:00:00+00:00,NaN
216969,1582582,integument,128598002,2016-06-18 00:00:00+00:00,NaN
216970,1039151,integument,128598002,2020-04-10 05:59:59+00:00,NaN
216971,2892671,integument,128598002,2012-10-13 18:05:30.893000+00:00,NaN

In [44]:
def get_earliest_date(dataframe: pd.DataFrame= None)-> pd.DataFrame:
    '''
    params: 
    accepts dataframe and get earliest date based on person id.
    The person with more than 2 conditions, will get the only earliest date 
    of the condition. We are not interested in what is the name of the condition.

    returns: dataframe consists of person id and earliest date
    '''
    output = []
    ids = dataframe.pid.unique()
    for ind, id in enumerate(ids):
        #print(ind, id)
        
        df = dataframe[dataframe.pid == id] 
        df_sorted = df.sort_values(by='csd')
        if df_sorted.shape[0] == 1:
            output.append(df_sorted[['pid', 'scn','csd']])
        else:
            output.append(df_sorted[['pid', 'scn','csd']].head(1))
    return output

In [45]:
# list to data frame using pd.concat across rows
df_earliest = pd.concat(get_earliest_date(dataframe=df), axis=0)
df_earliest

            pid              scn                       csd
146096  1371482   cardiovascular 2019-08-14 00:00:00+00:00
210615  2709328   cardiovascular 2011-09-23 17:45:00+00:00
99165   1005644  musculoskeletal 2019-04-17 04:00:00+00:00
3       2322347   cardiovascular 2018-05-27 00:00:00+00:00
4       2020591   cardiovascular 2019-08-24 09:21:47+00:00
...         ...              ...                       ...
216943  1333344       integument 2021-01-26 05:00:00+00:00
216952  2169089       integument 2010-08-25 05:00:00+00:00
216958  2347265       integument 2014-05-06 14:53:28+00:00
216960  1041465       integument 2017-03-14 14:00:00+00:00
216962  1889380       integument 2017-02-04 13:15:00+00:00

[50982 rows x 3 columns]

In [46]:
df_earliest = df_earliest.reset_index(drop=True)
df_earliest

           pid              scn                       csd
0      1371482   cardiovascular 2019-08-14 00:00:00+00:00
1      2709328   cardiovascular 2011-09-23 17:45:00+00:00
2      1005644  musculoskeletal 2019-04-17 04:00:00+00:00
3      2322347   cardiovascular 2018-05-27 00:00:00+00:00
4      2020591   cardiovascular 2019-08-24 09:21:47+00:00
...        ...              ...                       ...
50977  1333344       integument 2021-01-26 05:00:00+00:00
50978  2169089       integument 2010-08-25 05:00:00+00:00
50979  2347265       integument 2014-05-06 14:53:28+00:00
50980  1041465       integument 2017-03-14 14:00:00+00:00
50981  1889380       integument 2017-02-04 13:15:00+00:00

[50982 rows x 3 columns]

## Combining All Tables

In [49]:
disease_final = df_earliest.merge(df3, on='pid', how='left')

In [50]:
# saving helps to drop index column which is named scn
#disease_final.to_csv('D:/F2023/AOU/aou_processed_data/disease_wider.csv', index=False)

In [53]:
#
disease_wider = pd.read_csv('D:/F2023/AOU/aou_processed_data/disease_wider.csv')

In [60]:
combined = disease_final.merge(hasLC, on='pid', how='left')

In [71]:
combined['value'] = combined['value'].apply(lambda x: 1 if x == 1 else 0)
combined['value'].value_counts()

value
0    50088
1      894
Name: count, dtype: int64

In [109]:
combined.csd = combined.csd.apply(pd.to_datetime)

In [86]:
def istype_csdLC(x):
    if isinstance(x, pd._libs.tslibs.nattype.NaTType):
        return 0
    else:
        return 1

In [ ]:
# 
combined['csdLC_type'] = combined.csdLC.apply(lambda x: istype_csdLC(x))

In [112]:
# comparing two cell values must be the same: datetime or pd.to_datetime
def earlier(dataframe: pd.DataFrame = None) -> list:
    '''

    '''
    output = []
    for row in dataframe.to_dict('records'):
        if isinstance(row['csdLC'], pd._libs.tslibs.nattype.NaTType):
            # some are empty non timestamp values
            output.append('novalue')
        else:
            if row['csd'] < row['csdLC']:
                output.append('before')
            else:
                output.append('after')
    
    return output

In [115]:
# attach the values back to dataframe
combined['earlier'] = earlier(dataframe=combined)

In [120]:
combined[combined['earlier'] == 'after']

,pid,scn,csd,breast,cardiovascular,digestive,endocrine,genitourinary,hematopoietic,immune,...,mediastinum,mucous,musculoskeletal,nervous,respiratory,n_conditions,csdLC,value,csdLC_type,earlier
110,2727348,musculoskeletal,2014-06-07 17:41:42+00:00,0,1,1,0,0,0,0,...,0,0,1,0,1,4,2004-03-20 05:00:00+00:00,1,1,after
178,1245967,cardiovascular,2011-05-06 00:00:00+00:00,0,1,1,0,0,0,0,...,0,0,0,0,0,2,2011-01-23 00:00:00+00:00,1,1,after
214,1124199,cardiovascular,2007-07-14 00:00:00+00:00,0,1,1,0,0,0,0,...,0,0,0,0,0,2,2001-10-10 00:00:00+00:00,1,1,after
241,6669723,cardiovascular,2012-09-13 05:00:00+00:00,0,1,0,0,0,0,0,...,0,0,0,0,0,1,2012-07-10 05:00:00+00:00,1,1,after
641,1483249,hematopoietic,2019-03-19 00:00:00+00:00,0,0,0,0,0,1,0,...,0,0,0,0,0,1,2019-02-20 11:03:05+00:00,1,1,after
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50829,2651108,digestive,2016-12-25 00:00:00+00:00,0,0,1,0,0,0,0,...,0,0,0,0,0,1,2016-01-18 00:00:00+00:00,1,1,after
50865,1787555,digestive,2020-02-06 12:44:00+00:00,0,0,1,0,0,0,0,...,0,0,0,0,0,1,2019-09-17 00:00:00+00:00,1,1,after
50871,1805136,digestive,2018-04-19 00:00:00+00:00,0,0,1,0,0,0,0,...,0,0,0,0,0,1,2009-05-20 00:00:00+00:00,1,1,after
50874,1232068,digestive,2019-06-21 15:21:00+00:00,0,0,1,0,0,0,0,...,0,0,0,0,0,1,2013-08-02 00:00:00+00:00,1,1,after
50919,1050385,breast,2014-10-24 07:09:00+00:00,1,0,0,0,0,0,0,...,0,0,0,0,0,1,2011-06-01 08:00:00+00:00,1,1,after

In [122]:
#combined.to_csv('D:/F2023/AOU/aou_processed_data/final.csv', index=False)